<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Se carga la carpeta static-->
        {% load static %}
        <meta charset="UTF-8">

        <!--Se coloca el icono de la UTP en la pestaña-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--Hacemos visible la ruta static-->
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <!--Titulo de la pestaña-->
        <title>Auth</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>

    <body>
        <!--Personaliza el comportamiento del recuadro blanco-->
        <div class="container fluid min-vh-100 d-flex justify-content-center align-items-center">
            
            <!--Personaliza de manera horizontalmente apariencia color, ancho, padding y borde-->
            <div class="row bg-light px-0 py-4 border rounded w-50">
                <div class="col">
                {% block bodycontent %}
                {% endblock %}    
                </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>      
    </body>
</html>